.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.coverage
coverage.html
# Production environment variables
# This should never be in a git repository, but just in case
.env.prod

# Ignore any bin/ directories
bin/

# Rust
target/

# API test artifacts
.pytest_cache/
api/__*
api/*.log
api/.hypothesis
api/.pytest_cache/
api/*.har
