version: '3.8'
services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
#    volumes:
#      - ./data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'toshokan'
      POSTGRES_PASSWORD: 't.o.s.h.o.k.a.n.'
      POSTGRES_MULTIPLE_DATABASES: 'deck,users,test'
    ports:
      - "5432:5432"
    expose:
      - "5432"
  cache:
    image: redis
    ports:
      - "6379:6379"
    expose:
      - "6379"
  user:
    build: user/
    depends_on:
      - db
      - cache
    env_file: 
      - env/.common
      - env/.user
  deck:
    build: deck/
    depends_on:
      - db
      - cache
    env_file: 
      - env/.common
      - env/.deck
  gate:
    build: gate/
    depends_on:
      - user
      - deck
    ports:
      - "8080:8080"
    expose:
      - "8080"
    env_file: 
      - env/.common
      - env/.gate
