version: '3.8'
services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
#    volumes:
#      - ./data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'toshokan'
      POSTGRES_PASSWORD: 't.o.s.h.o.k.a.n.'
      POSTGRES_MULTIPLE_DATABASES: 'deck,users,course,test_deck,test_user,test_dealer,test_course'
    ports:
      - "5432:5432"
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U toshokan -h localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: always
  cache:
    image: redis
    ports:
      - "6379:6379"
    expose:
      - "6379"
    restart: always
  user:
    build: user/
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    env_file: 
      - env/.common
      - env/.user
    restart: always
  deck:
    build: deck/
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    env_file: 
      - env/.common
      - env/.deck
    restart: always
  dealer:
    build: dealer/
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - env/.common
      - env/.dealer
    restart: always
  course:
    build: course/
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    env_file:
      - env/.common
      - env/.course
    restart: always
  gate:
    build: gate/
    depends_on:
      - user
      - deck
      - course
    ports:
      - "8080:8080"
      - "443:443"
    expose:
      - "8080"
      - "443"
    env_file: 
      - env/.common
      - env/.gate
    restart: always
